/* inter-regular - latin */

:root {
  --color-h: 165;
  --color-s: 75%;
  --color-l: 30%;
  --color-1: hsl(var(--color-h), 30%, 90%); /* near white, tinted */
  --color-2: hsl(var(--color-h), var(--color-s), var(--color-l)); /* base */
  --color-3: hsl(calc(var(--color-h) - 60), 30%, 25%); /* desaturated gray */
  --color-4: hsl(calc(var(--color-h) + 45), 50%, 15%); /* near black, tinted */
  --color-5: hsl(calc(var(--color-h) + 45), 50%, 50%); /* complimentary */
  --color-6: hsl(calc(var(--color-h) - 20), 60%, 75%); /* complimentary 2 */

  --space-base: 1rem;
  --space-1: calc(var(--space-base) / 4);
  --space-2: calc(var(--space-base) / 2);
  --space-3: calc(var(--space-base) * 1);
  --space-4: calc(var(--space-base) * 1.5);
  --space-5: calc(var(--space-base) * 2);
  --space-6: calc(var(--space-base) * 3);

  --font-heading: "Inter", sans-serif;
  --font-weight-1: 100;
  --font-weight-2: 200;
  --font-weight-3: 400;
}

html,
body {
  display: block;
  width: 100%;
  height: auto;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding: 0;
  margin: 0;
  font-family: "Inter", Arial, sans-serif;
  font-weight: var(--font-weight-2);
  color: var(--color-primary);
  background-color: var(--color-4);
}

article {
  position: relative;
  display: block;
}

h2 {
  display: block;
  margin: 0;
  font-family: var(--font-heading);
}

a,
button {
  font-family: "Inter", Arial, sans-serif;
  text-decoration: none;
}

button {
  border-radius: 0;
}

button:hover {
  cursor: pointer;
}

.main {
  display: block;
  min-height: 100vh;
  padding: var(--space-1);
  background-color: var(--color-4);
}

.row {
  display: flex;
  width: 100%;
  max-width: 800px;
  margin: var(--space-4) auto;
  background-color: var(--color-1);
  border: solid var(--space-3) var(--color-1);
}

.column {
  position: relative;
  display: block;
  width: 100%;
  /* width: calc(100% - var(--space-3) * 2);
  margin: var(--space-3); */
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--space-5);
  margin-top: auto;
  background-color: var(--color-6);
}

.back-button {
  display: flex;
  justify-content: end;
}
.back-button a {
  /* color: var(--color-5); */
  padding: var(--space-3);
  font-weight: var(--font-weight-3);
  /* color: var(--color-5); */
  color: var(--color-2);
  text-decoration: none;
  background-color: var(--color-6);
}

footer .button {
  display: inline;
  padding: var(--space-2) var(--space-3);
  margin: 0 var(--space-1);
  font-weight: var(--font-weight-2);
  color: var(--color-1);
  background-color: var(--color-2);
  border: none;
}

.loading {
  display: block;
  font-size: 2em;
  text-align: center;
}
