:root {
  --color-h: 165;
  --color-s: 75%;
  --color-l: 30%;
  --color-1: hsl(var(--color-h), 30%, 90%); /* near white, tinted */
  --color-2: hsl(var(--color-h), var(--color-s), var(--color-l)); /* base */
  --color-3: hsl(calc(var(--color-h) - 60), 30%, 25%); /* desaturated gray */
  --color-4: hsl(calc(var(--color-h) + 45), 50%, 15%); /* near black, tinted */
  --color-5: hsl(calc(var(--color-h) + 45), 50%, 50%); /* complimentary */
  --color-6: hsl(calc(var(--color-h) - 20), 60%, 75%); /* complimentary 2 */

  --space-base: 1em;
  --space-1: calc(var(--space-base) / 4);
  --space-2: calc(var(--space-base) / 2);
  --space-3: calc(var(--space-base) * 1);
  --space-4: calc(var(--space-base) * 1.5);
  --space-5: calc(var(--space-base) * 2);
  --space-6: calc(var(--space-base) * 3);
}

html,
body {
  display: block;
  width: 100%;
  height: auto;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding: 0;
  margin: 0;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: var(--color-primary);
  background-color: var(--color-4);
}

article {
  position: relative;
  display: block;
}

h1 {
  display: block;
  width: calc(100% - var(--space-2) * 2);
}

.header,
.footer {
  padding: var(--space-5);
  background-color: var(--color-2);
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.main {
  display: block;
  min-height: 100vh;
  padding: var(--space-1);
  background-color: var(--color-4);
}

.row {
  display: flex;
  width: 100%;
  max-width: 1020px;
  margin: var(--space-4) auto;
  background-color: var(--color-1);
  border: solid var(--space-1) var(--color-3);
}

.column {
  position: relative;
  display: block;
  width: calc(100% - var(--space-3) * 2);
  margin: var(--space-3);
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: auto;
  background-color: var(--color-6);
}

button {
  border-radius: 0;
}

button:hover {
  cursor: pointer;
}

.back-button {
  display: flex;
  justify-content: end;
}
.back-button a {
  color: var(--color-5);
  text-decoration: none;
}

header .button {
  padding: var(--space-3) var(--space-4);
  margin: 0 var(--space-1);
  font-weight: 600;
  color: var(--color-1);
  text-transform: uppercase;
  background-color: var(--color-5);
  border: solid var(--space-1) var(--color-6);
}

header .logo {
  padding: var(--space-2);
  font-size: 2em;
  color: var(--color-2);
  background-color: var(--color-1);
  border: solid var(--space-1) var(--color-5);
}

footer .button {
  display: inline;
  padding: var(--space-2) var(--space-3);
  margin: 0 var(--space-1);
  color: var(--color-1);
  background-color: var(--color-2);
  border: none;
}

h1 {
  display: inline-block;
  padding: var(--space-2);
  font-size: 2.5em;
  color: var(--color-2);
  background-color: var(--color-6);
}

h2 {
  display: block;
  width: calc(100% - var(--space-2) * 2);
  padding: var(--space-2);
  margin: 0;
  font-size: 1.75em;
  color: var(--color-6);
  background-color: var(--color-2);
}

x-post {
  display: block;
  margin-top: var(--space-4);
}

x-post .row {
  flex-direction: column;
}

x-post p {
  display: block;
  margin: var(--space-3);
  font-weight: 400;
  line-height: 1.65em;
}

x-post img {
  float: left;
  display: block;
  max-width: 300px;
  margin: var(--space-3);
}

x-post img:nth-child(odd) {
  float: right;
}

x-archive .row {
  flex-wrap: wrap;
}

x-hero {
  position: relative;
}

x-hero * {
  position: relative;
}

x-hero img {
  display: block;
  width: 100%;
}

x-hero span {
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  color: var(--color-1);
  background-color: var(--color-5);
}

x-hero p {
  padding: var(--space-3);
}

.loading {
  display: block;
  font-size: 2em;
  text-align: center;
}

.card {
  display: flex;
  flex-direction: column;
  color: var(--color-2);
  text-decoration: none;
  background-color: var(--color-6);
}

.card.skinny {
  display: flex;
  flex-direction: row;
  color: var(--color-2);
  text-decoration: none;
  background-color: var(--color-6);
}

.card span {
  display: block;
  width: 100%;
}

.card img {
  display: block;
  width: 100%;
  /* max-width: 200px; */
}

.card.skinny img {
  max-width: 200px;
}

.card h2 {
  margin: 0;
  font-weight: 600;
}

.card p {
  display: block;
  padding: var(--space-3);
  margin: 0;
  font-weight: 300;
}
