/* inter-regular - latin */

:root {
  --color-h: 165;
  --color-s: 75%;
  --color-l: 30%;
  --color-1: hsl(var(--color-h), 30%, 90%); /* near white, tinted */
  --color-2: hsl(var(--color-h), var(--color-s), var(--color-l)); /* base */
  --color-3: hsl(calc(var(--color-h) - 60), 30%, 25%); /* desaturated gray */
  --color-4: hsl(calc(var(--color-h) + 45), 50%, 15%); /* near black, tinted */
  --color-5: hsl(calc(var(--color-h) + 45), 50%, 50%); /* complimentary */
  --color-6: hsl(calc(var(--color-h) - 20), 60%, 75%); /* complimentary 2 */

  --space-base: 1rem;
  --space-1: calc(var(--space-base) / 4);
  --space-2: calc(var(--space-base) / 2);
  --space-3: calc(var(--space-base) * 1);
  --space-4: calc(var(--space-base) * 1.5);
  --space-5: calc(var(--space-base) * 2);
  --space-6: calc(var(--space-base) * 3);

  --font-heading: "Inter", sans-serif;
  --font-weight-1: 100;
  --font-weight-2: 200;
  --font-weight-3: 400;
}

html,
body {
  position: relative;
  display: block;
  width: 100%;
  height: auto;
  color: var(--color-4);
}

body * {
  position: relative;
  display: block;
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding: 0;
  margin: 0;
  font-family: "Inter", Arial, sans-serif;
  font-weight: var(--font-weight-2);
  color: var(--color-primary);
  background-color: var(--color-4);
}

article {
  position: relative;
  display: block;
}

h2,
h1 {
  display: block;
  margin: 0;
  font-family: var(--font-heading);
  font-weight: var(--font-weight-3);
}

a,
button,
p {
  font-family: "Inter", Arial, sans-serif;
  text-decoration: none;
}

p {
  font-size: 1rem;
}

img {
  display: block;
  width: 100%;
}

button {
  border-radius: 0;
}

button:hover {
  cursor: pointer;
}

main {
  display: block;
  min-height: 100vh;
  /* padding: var(--space-1); */
  background-color: var(--color-4);
}

main > .route {
  position: relative;
  display: block;
  grid-template-columns: 1fr 80ch 1fr;
  margin: auto;
}

.row {
  display: flex;
  margin: var(--space-3) auto;
  background-color: var(--color-1);
  border: solid var(--space-3) var(--color-1);
}

.column {
  position: relative;
  display: block;
  width: 100%;
  /* width: calc(100% - var(--space-3) * 2);
  margin: var(--space-3); */
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--space-3) 0;
  margin-top: var(--space-5);
  font-size: 0.8rem;
  text-align: center;
  background-color: var(--color-6);
}

footer x-button {
  display: inline-block;
}

footer .button {
  display: inline-block;
  padding: 0;
  margin: var(--space-1);
  font-size: 0.8rem;
  font-weight: var(--font-weight-3);
  color: var(--color-3);
  text-decoration: underline;
  background-color: var(--color-6);
  border: none;
}

footer .footer-button-container {
  width: 100%;
}

.footer-copyright-container {
  margin: var(--space-2) 0;
}

.loading {
  display: block;
  font-size: 2em;
  text-align: center;
}

.hide-it {
  display: none;
}

@media screen and (min-width: 768px) {
  .main > .route {
    display: grid;
  }

  footer {
    flex-direction: row;
  }

  footer .footer-button-container {
    width: auto;
  }

  .md-block {
    display: block;
  }
}
