@scope (x-post-list-skinny) {
  .card {
    display: flex;
    flex-direction: row;
    /* max-width: 200px; */
    color: var(--color-2);
    text-decoration: none;
    background-color: var(--color-6);
  }

  .card > span {
    display: block;
    width: 100%;
  }

  .card > img {
    display: block;
    width: 100%;
    max-width: 200px;
  }

  h2 {
    margin: 0;
    font-weight: 600;
  }

  p {
    display: block;
    padding: var(--space-3);
    margin: 0;
    font-weight: 300;
  }
}
